# In Class Exercises

In [4]:
mystr = "Hallo ah"
mystr.capitalize()

'Hallo ah'

In [8]:
def namer(n, a):
    print('My name is {name} and my age is {age}'. format(age=a, name=n))

namer('bob', 8)

My name is bob and my age is 8

In [13]:
def print_list(my_list):
    length = len(my_list)
    for i in range(length):
        print(my_list.pop(0))
        
lst = ["Apples", "Grapes", "Bananas"]

In [14]:
print_list(lst)

Apples
Grapes
Bananas

In [26]:
def add_five(n):
    for i in range(n,1000,n):
        total = i + 5
        if total <= 1000:
            print(total)
        else:
            break

In [ ]:
add_five(2)

In [35]:
def print_int(n):
    for i in range(n):
        if i == 0:
            print(0)
        elif i % 3 == 0 and i % 5 == 0:
            print("FizzBuzz")
        elif i % 3 == 0:
            print("Fizz")
        elif i % 5 == 0:
            print("Buzz")
        else:
            print(i)

In [ ]:

print_int(1000)

In [32]:
## Official solution to Primes Challenge ##

def list_primes(n):
    lst = []
    for num in range(2, n + 1):
        for number in range(2, num):
            if num % number == 0:
                break
        else:
            lst.append(num)
                
    
    return lst

In [33]:
list_primes(25)

[2, 3, 5, 7, 11, 13, 17, 19, 23]

In [34]:

def compute_pay(hours, rate):
    if hours <= 40:
        pay = hours * rate
        return pay
    elif hours > 40:
        pay = 40 * rate
        over_hours = hours - 40
        overtime = (rate * 1.5) * over_hours
        tot_pay = pay + overtime
        return tot_pay
    else:
        print("something strange happened")
    

compute_pay(45, 10)

475.0

In [48]:
def read_num():
    try:
        value = int(input("Type in a number. > ")
    except NameError:
        value = int(input("Invalid Input. > "))
    return value

SyntaxError: invalid syntax (<ipython-input-48-891015478181>, line 4)